@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
}

h1 {
  font-size: 22px;
  font-weight: 600;
  margin: 10px 0 30px;
}

h2 {
  font-size: 18px;
  margin: 20px 0 10px;
  font-weight: 500;
}

button {
  width: 100%;
  padding: 16px;
  background-color: #2DCCD3;
  color: white;
  border: none;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #28b8bf;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* 任務回到上一頁 */
.back-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #e7e7e7;
  color: #6c707a;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 13px;
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.3s ease;
}

.back-button:hover {
  background-color: #bababa;
}

header {
  width: 100%;
  background-color: #2DCCD3;
}
@media screen and (max-width: 768px) {
  header {
    padding-left: 15px;
    padding-right: 15px;
  }
}
header nav {
  max-width: 836px;
  width: 100%;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav .logo {
  width: 45px;
  height: 50px;
}
header nav .account {
  width: 207px;
  height: 32px;
}

body {
  font-family: "Noto Sans TC", "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 16px;
  color: #3F4254;
}
body * {
  box-sizing: border-box;
}

.container {
  max-width: 500px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  border-radius: 20px;
  padding: 25px;
  position: relative;
  top: -150px;
  line-height: 28px;
}
@media screen and (max-width: 768px) {
  .container {
    margin-top: -100px;
  }
}

select {
  -webkit-appearance: none; /* 隱藏 iOS 預設樣式 */
  -moz-appearance: none; /* 隱藏 Firefox 預設樣式 */
  appearance: none; /* 隱藏通用預設樣式 */
  color: #656565; /* 設置文字顏色 */
}

.banner {
  max-width: 836px;
  width: 100%;
  height: 498px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 768px) {
  .banner {
    max-width: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

footer {
  width: 100%;
  margin: 30px auto;
  border-top: 1px solid #dadada;
  padding-top: 20px;
}
footer p {
  max-width: 284px;
  text-align: center;
  margin: auto;
  font-size: 13px;
  line-height: 21px;
  font-weight: 500;
  color: #8a8a8a;
}

body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 1.3;
  font-family: "Noto Sans TC", sans-serif;
  font-optical-sizing: auto;
}

* {
  box-sizing: border-box;
}

/* 後台 */
.back {
  max-width: 1440px;
  width: 100%;
  margin: 30px auto 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.backend tbody tr td:nth-child(9),
.backend tbody tr td:nth-child(10) {
  font-size: 14px;
  color: #474747;
}

.backend tbody tr td:nth-child(11) {
  font-size: 14px;
  color: #474747;
  width: 200px;
}

.backend tbody tr td:nth-child(12) {
  width: 200px;
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
}

.backend tbody tr td:nth-child(5) {
  width: 90px;
}

.backend tbody tr td:nth-child(9), .backend tbody tr td:nth-child(10) {
  width: 60px;
}

.backend tbody tr td:nth-child(13) {
  font-size: 12px;
  color: #474747;
  width: 100px;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
  min-height: 70px;
}

.img_photo {
  border-left: none;
  border-right: none;
  border-bottom: none;
}

.no_photo {
  border: initial;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  position: relative;
  /* top: -1px */
}

th {
  background-color: #2DCCD3;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* 滑鼠移過去的 Hover 效果 */
tr:hover {
  background-color: #d6fbb2;
  cursor: pointer;
}

.search-form {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.search-form input[type=text] {
  padding: 10px;
  width: 300px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.search-form button {
  padding: 8px 20px;
  background-color: #2DCCD3;
  width: 150px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-form button:hover {
  background-color: #24a4a9;
}

.function {
  width: 100%;
  text-align: right;
}

.logout-button {
  padding: 10px 20px;
  background-color: #878787;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.3s ease;
  position: relative;
  /* margin-right: 20px; */
  margin-top: 10px;
  font-size: 13px;
}

/* 特別為重置按鈕設定樣式 */
.search-form button[type=button] {
  border: 1px solid #2DCCD3;
  color: #2DCCD3;
  background-color: initial;
}

.search-form button[type=button]:hover {
  background-color: #24a4a9;
  color: #fff;
}

.export-button {
  width: 100%;
  max-width: 1440px;
  margin: 0px auto 5px;
  display: block;
  padding: 10px;
  border: 1px solid #2DCCD3;
  color: #2DCCD3;
  background-color: initial;
}
.export-button:hover {
  color: #f2f2f2;
}

/* 新增批次刪除按鈕的樣式 */
.delete-button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.delete-button:hover {
  background-color: #d32f2f;
}

.age p {
  font-size: 13px;
  margin: 3px 0px;
}

.task_name {
  font-size: 13px;
  margin: 3px 0px;
}

.name {
  width: 100px;
}

thead tr th {
  font-size: 14px;
}

.s-func {
  position: relative;
}
.s-func .del {
  position: absolute;
  right: 0;
  top: -10px;
}

.pth {
  width: 140px;
}/*# sourceMappingURL=back.css.map */