@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
}

h1 {
  font-size: 22px;
  font-weight: 600;
  margin: 10px 0 30px;
}

h2 {
  font-size: 18px;
  margin: 20px 0 10px;
  font-weight: 500;
}

button {
  width: 100%;
  padding: 16px;
  background-color: #2DCCD3;
  color: white;
  border: none;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #28b8bf;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* 任務回到上一頁 */
.back-button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #e7e7e7;
  color: #6c707a;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 13px;
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.3s ease;
}

.back-button:hover {
  background-color: #bababa;
}

body {
  font-family: "Noto Sans TC", "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 16px;
  color: #3F4254;
  background-color: #fff;
  background-image: url("../banner/image01.jpg");
  background-size: calc(100% + 300px);
  background-position: top;
  background-repeat: no-repeat;
}
body.takePhoto {
  background-image: initial;
}
body * {
  box-sizing: border-box;
}

.container {
  max-width: 500px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  border-radius: 20px;
  padding: 25px;
  line-height: 28px;
  z-index: 1000;
  width: 100%;
  position: relative;
  box-shadow: 1px 1px 6px #d8d8d8;
  margin: auto;
}
@media screen and (max-width: 768px) {
  .container {
    width: 96%;
    margin: auto;
  }
}

select {
  -webkit-appearance: none;
  /* 隱藏 iOS 預設樣式 */
  -moz-appearance: none;
  /* 隱藏 Firefox 預設樣式 */
  appearance: none;
  /* 隱藏通用預設樣式 */
  color: #656565;
  /* 設置文字顏色 */
}

footer {
  width: 100%;
  margin: 30px auto 0;
  border-top: 1px solid #dadada;
  padding-top: 20px;
}
footer p {
  max-width: 284px;
  text-align: center;
  margin: auto;
  font-size: 13px;
  line-height: 21px;
  font-weight: 500;
  color: #8a8a8a;
}

header {
  width: 100%;
  background-color: #2DCCD3;
}
@media screen and (max-width: 768px) {
  header {
    padding-left: 15px;
    padding-right: 15px;
  }
}
header nav {
  max-width: 836px;
  width: 100%;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav .logo {
  width: 45px;
  height: 50px;
}
header nav .account {
  width: 207px;
  height: 32px;
}

/* Reset 一些預設樣式 */
.container {
  top: 370px;
}
@media screen and (max-width: 768px) {
  .container {
    top: 190px;
  }
}
.container .titles {
  margin-bottom: 10px;
}
.container h1 {
  width: 100%;
  margin: 0px auto 20px;
}
.container h1 img {
  width: 28px;
  height: 28px;
  position: relative;
  top: 3px;
}

.image-options {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

.image-container {
  width: 100%;
  max-width: 440px;
  border-radius: 12px;
  cursor: pointer;
  overflow: hidden;
  flex: 1;
  transition: border-color 0.3s ease;
}

.image-container img {
  width: 100%;
  object-fit: contain;
  border-radius: 15px;
  height: 100%;
}

.privacy-container {
  margin-top: 30px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}
.privacy-container label {
  position: relative;
  top: 2px;
  left: 10px;
}
.privacy-container a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

/* #next-button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #ccc;
    border: none;
    border-radius: 5px;
    cursor: not-allowed;
    transition: background-color 0.3s ease;
}

#next-button.enabled {
    background-color: #4CAF50;
    cursor: pointer;
} */
/* 隱私權彈窗 */
/* 隱私權彈窗的基本樣式 */
.modal {
  display: none;
  position: fixed;
  line-height: 24px;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* 半透明背景 */
  opacity: 0;
  /* 預設透明 */
  transition: opacity 0.3s ease;
  /* 背景漸變動畫 */
}

/* 彈窗顯示時的樣式 */
.modal.show {
  display: block;
  opacity: 1;
  /* 背景變為不透明 */
}

/* 彈窗內容區域 */
.modal-content {
  font-size: 14px;
  background-color: #fff;
  width: 100%;
  max-width: 1300px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 600px;
  overflow: auto;
  /* 垂直與水平置中 */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* 置中對齊 */
  /* 動畫效果 */
  opacity: 0;
  transform: translate(-50%, -60%);
  transition: opacity 0.3s ease, transform 0.3s ease;
}
@media screen and (max-width: 768px) {
  .modal-content {
    width: 96%;
    line-height: 20px;
  }
}

/* 顯示彈窗時的內容動畫 */
.modal.show .modal-content {
  opacity: 1;
  transform: translate(-50%, -50%);
  /* 回到原位置 */
}

/* 關閉按鈕樣式 */
.close-button {
  float: right;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  color: #333;
}

.close-button:hover {
  color: red;
}

.line {
  text-decoration: underline;
}

#phone:invalid {
  border: 2px solid rgb(194, 0, 0);
}

#phone:valid {
  border: 2px solid #2DCCD3;
}

small {
  font-size: 12px;
  text-align: right;
  display: block;
  color: #8a8a8a;
  margin-top: 5px;
}

/* 任務 */
.form-group {
  margin-bottom: 20px;
  text-align: left;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type=checkbox] {
  width: 20px;
  height: 20px;
  background-color: #d3d3d3;
}

/* 美化選擇縣市的下拉選單 */
select {
  width: 100%;
  padding: 12px;
  margin-top: 7px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  font-size: 16px;
  appearance: none;
  /* 隱藏預設的瀏覽器箭頭 */
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path fill="black" d="M7 10l5 5 5-5z"/></svg>');
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 12px;
  cursor: pointer;
  transition: border-color 0.3s ease;
}

/* 當使用者點擊選擇欄位時的樣式 */
select:focus {
  border-color: #4CAF50;
  outline: none;
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}

/* 當滑鼠移到下拉選單內部選項時的效果 */
option:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

b {
  font-weight: bold;
}

/*  task1 */
.image-options.task {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 15px;
  align-content: center;
  justify-content: center;
}

.condition-image {
  width: 210px;
  height: 140px;
  cursor: pointer;
  border-radius: 8px;
  border: 1px solid #2DCCD3;
  transition: border 0.3s ease;
}
@media screen and (max-width: 768px) {
  .condition-image {
    width: 48%;
    height: 100%;
  }
}

.condition-image.selected {
  border-color: #49e8f0;
  border-radius: 8px;
  border: 3px solid #2DCCD3;
  /* 選取後的綠色邊框 */
}

#uncertain-button {
  margin-top: 10px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
}

.uncertain-button {
  background-image: url("../images/unsure.jpg");
  background-position: center;
  background-repeat: no-repeat;
  width: 500px;
  height: 105px;
  padding: 10px 20px;
  border: 1px solid #49e8f0;
  background-color: #fff;
  margin: auto;
}
@media screen and (max-width: 768px) {
  .uncertain-button {
    width: 100%;
    background-size: contain;
  }
}

.other-button {
  background-image: url("../images/other.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 500px;
  height: 105px;
  border: 1px solid #49e8f0;
  background-color: #fff;
  margin: auto;
}
@media screen and (max-width: 768px) {
  .other-button {
    width: 100%;
    min-height: auto;
    background-size: contain;
  }
}

#uncertain-button:hover {
  background-color: #ffffff;
}

#uncertain-button.selected {
  border: 3px solid #49e8f0;
  border-radius: 10px;
  /* 選取後的深紅色 */
}

.boxcenter {
  text-align: center;
}
.boxcenter label {
  display: block;
  text-align: left;
}

.photo-container ul li {
  position: relative;
}
.photo-container ul li.selected img {
  border: 4px solid #28b7bf;
  border-radius: 5px;
}
.photo-container ul li img {
  border: 4px solid rgba(40, 183, 191, 0.5803921569);
  border-radius: 5px;
}

.container_camera {
  width: 100%;
  max-width: 500px;
  margin: auto;
}
.container_camera .stepbar {
  background-color: rgba(25, 25, 25, 0.9803921569);
  padding: 20px;
  color: #fff;
  display: flex;
  gap: 10px;
}
.container_camera .stepbar #step-image {
  width: 80px;
  height: 80px;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
}
.container_camera .mask {
  position: relative;
}
.container_camera .mask .large_image {
  position: absolute;
  z-index: 99;
}
.container_camera .mask .mask_image {
  position: absolute;
  top: -120px;
  z-index: 10;
  width: 100%;
  height: auto;
  object-fit: contain;
}
@media screen and (max-width: 768px) {
  .container_camera .mask .mask_image {
    top: -30px;
  }
}
.container_camera .mask video {
  width: 100%;
  height: auto;
}

.step-content #stepOrder {
  font-size: 12px;
  color: #A1A5B7;
  margin: 5px 0 5px;
}
.step-content #step-title {
  font-size: 15px;
  font-weight: 700;
  color: #FDFDFD;
  line-height: 30px;
}
.step-content #step-instruction {
  font-size: 15px;
  color: #FDFDFD;
}

.step {
  display: none;
}

.step.active {
  display: block;
}

.photo-container ul {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
@media screen and (max-width: 768px) {
  .photo-container ul {
    gap: 7px;
  }
}
.photo-container ul li {
  width: 70px;
  height: 70px;
  background-color: #060606;
  border-radius: 5px;
}
.photo-container ul li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bottom_bar {
  background-color: #1b1b1b;
  position: relative;
  z-index: 100;
}
@media screen and (max-width: 768px) {
  .bottom_bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #1b1b1b;
  }
}
.bottom_bar #photos {
  background-color: #3c3c3c;
  width: 100%;
  height: 90px;
  overflow: hidden;
}
.bottom_bar .camera_bar {
  padding: 5px 5px;
  height: 80px;
  width: 100%;
}
.bottom_bar .camera_bar .taskPhoto,
.bottom_bar .camera_bar .after {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
}
.bottom_bar .camera_bar .capture {
  border-radius: 100px;
  text-align: center;
  padding: 10px;
  position: relative;
  top: -2px;
}
.bottom_bar .camera_bar .capture img {
  top: 3px;
  position: relative;
  width: 33px;
}
.bottom_bar .camera_bar .upload-button {
  background-color: initial;
}
.bottom_bar .camera_bar .upload-button img {
  width: 33px;
}
.bottom_bar .camera_bar .submit-photos {
  width: 100%;
  max-width: 130px;
  margin: auto;
  border-radius: 60px;
  padding: 10px;
  position: relative;
  top: 8px;
}
.bottom_bar .camera_bar .submit-photos img {
  width: 33px;
  position: relative;
  top: 5px;
}
.bottom_bar .camera_bar .success-photos {
  background-color: initial;
}
.bottom_bar .camera_bar .success-photos img {
  width: 33px;
}
.bottom_bar .camera_bar .renew-photos {
  background-color: initial;
}
.bottom_bar .camera_bar .renew-photos img {
  width: 35px;
}
.bottom_bar .camera_bar .switch-camera {
  background-color: initial;
}
.bottom_bar .camera_bar .switch-camera img {
  width: 40px;
}

@media screen and (max-width: 768px) {
  .thank {
    padding: 0 18px;
  }
}

.thankYou {
  width: 100%;
  padding-top: 10px;
  margin: 10px auto 0;
  text-align: center;
}
.thankYou .qrcode {
  width: 220px;
  height: 220px;
  text-align: center;
  margin: auto;
  display: block;
}
.thankYou .n5 {
  width: 308px;
  margin: 15px auto 0;
}

.lines {
  width: 28px;
  position: relative;
  top: 6px;
  left: -6px;
}

input, textarea {
  font-size: 16px;
}

.next71 {
  text-indent: -20000px;
  width: 400px;
  overflow: hidden;
}

.login {
  position: relative;
  top: 100px;
  width: 500px;
  margin: auto;
}/*# sourceMappingURL=style.css.map */