// base
@import 'base/reset';
@import 'base/font';
@import 'base/color';
@import 'base/common';
@import 'base/rwd';
// mixin 

    @import 'mixin/mixin';





// module
@import 'module/btn';

// layout
@import 'layout/body';  
@import 'layout/banner';  
@import 'layout/footer';  
@import 'layout/header';

// @import 'layout/login';


//page 
@import  'page/index';
@import  'page/task';
@import  'page/step';
@import  'page/thank';



//input禁止放大
input, textarea {
    font-size: 16px;
}


.next71 {
 text-indent: -20000px;
 width: 400px;
 overflow: hidden;
}


.login {
  position: relative;
  top:100px;
  width: 500px;
  margin: auto;
}

 