body {
  font-family:"Noto Sans TC" , "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: $fontSize;
  color: $fontColor;
  background-color: #fff;

  * {
    box-sizing: border-box;
  }
}

.container {
    @include layout(500px, null);
    background-color: #fff;
    border-radius: 20px;
    padding: 25px;
    position: relative;
    top: -20px;
    line-height: 28px;
    @include m(){
      margin-top: -110px;
       border-radius: 0px;
    }
    // box-shadow: 1px 1px 10px #d8d8d8;
}
select {
    -webkit-appearance: none; /* 隱藏 iOS 預設樣式 */
    -moz-appearance: none;    /* 隱藏 Firefox 預設樣式 */
    appearance: none;         /* 隱藏通用預設樣式 */
    color: #656565;           /* 設置文字顏色 */
}