.thank {
    @include m() {
        padding:0 18px;
    }
}

.container {
   @include m(){
        margin-top: initial;
        top: 0
   }
}

.thankYou {
    width: 100%;
    margin: auto;
    text-align: center;
    .qrcode {
        width: 220px;
        height: 220px;
        text-align: center;
        margin: auto;
        display: block;
    }

   .n5 {
     width: 308px;
   margin: 20px auto 0;
   
   }
}

.lines {
    width: 28px;
    position: relative;
    top: 6px;
    left: -6px;
}