.thank {
 
    @include m() {
        padding:0 18px;
    }
}

.thankYou {
    width: 100%;
    padding-top: 10px;
    margin:10px auto 0;
    text-align: center;
    .qrcode {
        width: 220px;
        height: 220px;
        text-align: center;
        margin: auto;
        display: block;
    }

   .n5 {
     width: 308px;
     margin: 15px auto 0;
   
   }
}

.lines {
    width: 28px;
    position: relative;
    top: 6px;
    left: -6px;
}