$bgc : rgb(255, 255, 255); //顏色
$fontColor : #3F4254;
$gray500 : #8a8a8a;
$gray300: #c0c0c0;
$colors :('primary' : #2DCCD3,
    'secondary' : #d0d0d0,
    'success' : #009b0d,
    'danger' : #ff0000,
    'warning' : #e9ff20,
    'info' : rgb(113, 175, 255));

